body{
  background-image: linear-gradient(to right top, #b7bdfc, #85b4e8, #5ea8ca, #4b9aa7, #498985);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    border-color: #073e6b;
}
th, td {
    border: 1px solid rgb(5, 30, 51);
    padding: 5px;
    text-align: left;
}

th {
    background-color: #0a0202;
    color:white;
}

tr:hover {
    background-color: #073e6b;
}

form {
    width: 40%; 
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid rgb(3, 22, 1); 
    border-radius: 20px;
    
  }
  
label {
    display: block; 
    margin-bottom: 0.5em;
 }
  /* select,
  input[type="text"],
  textarea,
  input[type="date"] {
    width: 100%;
    padding:8px;
    margin-bottom: 10px;
    border: 1px solid rgb(85, 25, 167); 
    box-sizing: border-box; 
  }  */
  
  input[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    padding: 0.5em 1em; 
    border: none;
    margin-top: 1em; 
  }
h2{
    color:darkgreen;
    padding: 0;
    margin-top: 30px;
    font-size: 60px;
}

ul{
  float: right;
  list-style-type: none;
  
}

ul li{
  display: inline-block;

}

ul li a{
  text-decoration: none;
  color: white;
  padding : 5px 20px;
  border: 1px solid rgb(0, 7, 5);
  transition: 0.6s ease;
  font-style: 100;
}

ul li a:hover{
  background-color: cadetblue;
  color: rgb(9, 44, 83);
}

.hedding{
  color: #151515;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.container{
  background-image: transperent;
 margin-top: 50px;
 margin-left: 80px;
 text-size-adjust: 20px;
  padding:20px
}
.container2{
  width:100%;
  background-color: rgb(1, 1, 19);
  text-align: left;
}
.container p{
  font-size: medium;
  font-weight: bold;
}
.container input,select{
   
    width: 100%;
    
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(0, 12, 14);
    outline:none;
    border-radius: 4px;
    border-bottom:2px solid black;
  
} 
